*.env filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt
*.conf filter=git-crypt diff=git-crypt
sensetive_* filter=git-crypt diff=git-crypt
**/sensitive/** filter=git-crypt diff=git-crypt
.gitattributes !filter !diff
